<settings>
<category label="Basic">
<setting type="sep"/>
<setting id="autoplay" label="Autoplay Top Title" type="bool" default="false" />
<setting id="order" label="IMDb Search Order" type="enum" default="1" values="Default|Year" />
<setting id="votes" label="IMDb Number of Votes" type="number" default="10"  />
<setting id="genres" label="IMDb Genres (comma seperator)" type="text" default=""  />
<setting id="catchup.plugin" label="Catchup Addon Id (Meta|MetalliQ)" type="text" default="plugin.video.meta" />
<setting type="lsep" label="%I imdb id, %M themoviedb id %K trakt id %Y year, %T title"/>
<setting id="movie.library.url" label="Custom Movie Library Url" type="bool" default="false" />
<setting id="movie.library.number" label="Movie Library Url Number" type="enum" default="0" values="1|2|3" />
<setting id="movie.library" label="Movie Library Url 1" type="text" enable="eq(-2,true)" default="plugin://plugin.video.*/?action=play&amp;imdb=%I&amp;year=%Y&amp;title=%T" />
<setting id="movie.library.addon" type="addon" label="Movie Url Addon 1" enable="eq(-3,true)" default="" addontype="xbmc.python.pluginsource"  multiselect="false" />
<setting id="movie.library2" label="Movie Library Url 2" type="text" enable="eq(-4,true)" default="plugin://plugin.video.*/movie/%M/links" />
<setting id="movie.library2.addon" type="addon" label="Movie Url Addon 2" enable="eq(-5,true)" default="" addontype="xbmc.python.pluginsource"  multiselect="false" />
<setting id="movie.library3" label="Movie Library Url 3" type="text" enable="eq(-6,true)" default="plugin://plugin.video.*/?trakt_id=%K&amp;year=%Y&amp;mode=get_sources&amp;video_type=Movie&amp;title=%T" />
<setting id="movie.library3.addon" type="addon" label="Movie Url Addon 3" enable="eq(-7,true)" default="" addontype="xbmc.python.pluginsource"  multiselect="false" />
<setting type="sep"/>
<setting id="english" label="English Titles" type="bool" default="false" />
<setting type="sep"/>
<setting id="enhance" label="Image Quality" type="enum" default="2" values="Worst|Better|Best" />
<setting type="sep"/>
<setting label="View Mode ID" type="number" id="view" default="50"/>
</category>
</settings>